{% extends 'cms/common/base.html' %}
{% block title %}

{% endblock %}

{% block head %}

{% endblock %}
}
{% block content_header %}
    <h1>
        班级管理
        <small>信息管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 后台</a></li>
        <li class="active">系部</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4>查询：</h4>
                <div class="class-top">
                    <form action="#" class="form-inline">
                        <div class="form-group col-md-3">
                            <label for="">系部：</label>
                            <select name="" id="">
                                <option value="0">全部</option>
                                {% for dep in deps %}
                                    <option value="{{ dep.id }}">{{ dep.dep_name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">专业：</label>
                            <select name="" id="">
                                <option value="0">
                                    全部
                                </option>
                                <option value="1">移动互联专业</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">老师：</label>
                            <select name="" id="">
                                <option value="0">
                                    全部
                                </option>
                                <option value="1">移动互联专业</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <button class="btn btn-primary btn-sm">查询</button>
                        </div>

                    </form>
                </div>
                <div class="class-table col-md-10" style="margin-top: 20px">
                    <table class="table table-bordered">
                        <thead>
                            <th>
                                <td>ID</td>
                                <td>编号</td>
                                <td>名称</td>
                                <td>专业</td>
                                <td>老师</td>
                                <td>人数</td>
                                <td>操作</td>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>CZ0001</td>
                                <td>移动互联1631</td>
                                <td>移动互联应用技术</td>
                                <td>胡建</td>
                                <td>23</td>
                                <td><button class="btn btn-danger btn-xs">管理</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
{% endblock %}