{% extends 'cms/common/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}

{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="col-md-4">
                <canvas  id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas  id="myChart2" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas  id="myChart3" width="400" height="400"></canvas>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <script src="{{ url_for('static',filename="dist/js/cms_index.min.js") }}"></script>
{% endblock %}