.container{
  background: #f7f7f9;
  .row{
    h4{
          border-left: 3px solid crimson;
        }
    .img-info-detail{

      .info-detail {
        input {
          border: 1px solid #3baae3;
          border-radius: 5px;
        }
      }
    }

  }
}