
.container {
  .row {
    .user-info {
      box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.3);
      overflow: auto;
      h1 {
        margin-left: 20px;
      }
      .info-img {
        margin: 20px;
        float: left;
        width: 132px;
        border: 1px dashed rgba(0, 0, 0, 0.3);
        img{
          width: 130px;
        }
        input{
          z-index: 9;
          position: absolute;
          opacity:0;
          height: 120px;
          width: 120px;
          cursor: pointer;
        }
      span{
        position: absolute;
        display: block;
        height: 20px;
        width: 131px;
        background: rgba(0,0,0,0.2);
        padding-left: 19px;
        box-sizing: border-box;
      }
      }
      .info-detail {
        float: left;
        height: 200px;
        margin-top: 20px;
        font-size: 14px;
        .change{
            color: #00a7d0;
            margin-left: 10px;
          cursor:pointer;
        }
      }
      .info-text{
        margin-bottom: 10px;
        textarea {
          width: 100%;
          padding: 0;
          margin: 0;
          resize: none;
        }
      }
      .info-btn{
        padding-bottom: 20px;
        margin-top: 10px;
        button{
          margin-bottom: 10px;
        }
      }
      &:hover {
        box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}