{% extends 'cms/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css">
    <script src="https://g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
{% endblock %}

{% block content %}
     <div  class="prism-player" id="J_prismPlayer"></div>
    <script>
            var player = new Aliplayer({
            id: 'J_prismPlayer',
            width: '100%',
            height:'500px',
            autoplay: false,
            //支持播放地址播放,此播放优先级最高
            source : 'http://ccdn.odinhj.cn/customerTrans/e689ac2e5b5298af0ebb86ba18712f33/4e4d6c66-165dbcd220e-0007-0e18-2a5-bc90b.mp4',

            },function(player){
                console.log('播放器创建好了。')
           });
    </script>
{% endblock %}